.mark_retake {
    font-weight: bold;
    input{
        font-weight: bold;
    }
}
.partial_mark {
    color: grey;
    font-style: italic;
}
.mark_fail {
    color: red;
    input{
        color: red !important;
    }
}
#eval_buttons {
   justify-content: center;
}
.btn-highlight {
   border: 3px solid #3399ff !important;
}
#teacher_schedule_table, td, tr{
   border: 1px solid #666666;
   border-collapse: collapse;
}
#teacher_schedule_table{
   overflow-x: auto;
   display:block;
   text-align: center;
   td{
    padding: 5px;
   }
   input {
  background: rgba(255,255,255,0);
    border-style: none;
    text-align: center;
    width: 100%;
    padding: 5px;
   }
   input:focus, input:hover {
    border-style:groove;
    }
}
.eval_schedule_td{
    background-color: #b3ffb3;
}
.global_schedule_td{
    background-color: #b3e6ff;
}
.comp_schedule_td{
    background-color: #d9d9d9;
}
.exam_schedule_td{
    background-color: #f2f2f2;
}
.student_schedule_td{
    min-width: 80px;
    text-align: left;
}
