.eval_th{
    background-color: #58BE98 !important;
    text-align: center;
}
.meeting_th{
    background-color: #b3e6ff;
    text-align: center;
    width: 20%;
}
.table_tutor_meetings{
    text-align: center;
}
